:root {

}

/* common styles for all modes (portrait, landscape & tablet) */

#app {
}


#layer_base {
    will-change: transform;
    position: relative;
    top: var(--layout-status-bar-height);
    z-index: 0;
    width: 100%;
}

#layer_status_bar {
    will-change: transform;
    position: fixed;
    background-color: var(--color-back-top);
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--layout-status-bar-height);
}


#status_bar {
    display: grid;
    grid-auto-flow: column;
    /* content alignment */
    height: 100%;
    align-items: center;
    justify-items: center;
}

#layer_side_bar {
    position: fixed;
    background-color: var(--color-back-top);
    top: 0;
    z-index: 1500;
    width: 100%;
    height: var(--layout-navbar-height);
}

#layer_overlay {
    background-color: var(--color-back-main);
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    /* positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    /* fit this DIV into viewport */
    height: 100%;
    width: 100%;
}

#layer_notification {
    display: none;
    will-change: transform;
    /* positioning */
    position: fixed;
    top: 0;
    z-index: 3000;
    /* fit this DIV into viewport */
    height: 100%;
    width: 100%;
}

